<footer class="site-footer">
  <div class="site-footer__title">MSS — Maverick Software Solutions © 2026</div>
  <div>CNPJ: 65.483.350/0001-00</div>
  <div>65.483.350 HEITOR MACIEL DE VASCONCELLOS LEITE</div>
</footer>
